.vs/

LightingTests/bin/
LightingTests/obj/

Lightning.Api/bin/
Lightning.Api/obj/

Lightning.Domain/bin/
Lightning.Domain/obj/

Lightning.UnitTests/bin/
Lightning.UnitTests/obj/

Lighting.Api/bin/
Lighting.Api/obj/
Lighting.Api/Lighting.Api.http
Lighting.Api/Lighting.Api.csproj.user
